elastic-apm[flask]==5.2.2
flake8==3.7.9
Flask==1.1.1
Flask-Cors==3.0.8
Flask-RESTful==0.3.8
flask-swagger-ui==3.20.9
gunicorn==19.9.0
ipdb==0.12.2
ipython==7.16.3
pika==1.1.0
pytest-flask==0.15.1
python-json-logger==0.1.11
schematics==2.1.0